<div class="container">
    <div class="user-img">
        <app-img-box src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4xkkeUgUo81M4Almp1nbwm4HX858ysSa1hdGwiHYX28I5eUGI-1C61pVYZO5vFKiQBgE&usqp=CAU" 
        alt="user img"></app-img-box>
    </div>
    <div class="menu">
        <app-item-btn (clickEvent)="activeDrawerNewChat($event)" icon="fa-solid fa-comment" title="Nova conversa" ariaLabel="Comece uma conversa"></app-item-btn>
        <app-item-btn icon="fa-solid fa-ellipsis-vertical" title="Mais opções" ariaLabel="Mais opções"></app-item-btn>
    </div>
</div>