@import '../../../../styles/variables.scss';
@import '../../../../styles/scroll-bar.scss';

.chat-messages{
    background-color: $chat-color;
    padding: 10px 20px;
    width: 100%;
    height:100%;
    overflow-y: scroll;
    @extend .custom-scroll-bar;
    
    .left, .right {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
    }

    .left{
        justify-content: start;
    }

    .right {
        justify-content: end;
    }
}