// colors
$grey: #dadada;
$grey-dark: #3C415C;
$grey-light:#DDDDDD;
$grey-middle:#8696A0;
$white: #fff;
$green: #6fb529;
$paper: #f7f8fa;
$chat-color: $paper;
$message-my: $green;
$message-outher: $grey-light;
$input-box: $grey-light;
$input-field: $paper;

$input-green: rgba(14, 174, 87, 1);
$input-grey: #8b8a8b;
$input-red: #E83A30;

//sizes
$header-height: 70px;