@import '../../../../styles/variables.scss';

.search-box{
    display: flex;
    align-items: center;
    width: 390px;
    padding: 7px 10px;
    background-color: $grey-light;
    border-radius: 8px;

    input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 0.9rem;
        width: 100%;
    }

    i {
        font-size: 0.9rem;
        color: $grey-dark;
        margin-right: 10px;
        cursor: pointer;
    }

}