@import '../../../../styles/variables.scss';
@import '../../../../styles/scroll-bar.scss';

.channel-list{
    height: 100%;
    width: 100%;
    background-color: $white;
    overflow: auto;

    @extend .custom-scroll-bar;
}