<div class="container">
    <div class="wrapper">
    <div class="intro-text">
        <h1>Novo por aqui?</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis similique ex commodi magni atque
            cupiditate vitae hic dicta aspernatur, eligendi, debitis magnam? 
        </p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-form-input [checkErros]="checkErrorNickname()" id="nickname" label="Apelido" placeholder="Apelido" errorMessage="O apelido é obrigatório" controlName="nickname" type="text" icon="fa-solid fa-user" ></app-form-input>
        <app-form-input [checkErros]="checkErrorEmail()" id="email" label="E-mail" placeholder="E-mail" errorMessage="O e-mail é obrigatório" controlName="email" type="email" icon="fa-solid fa-at" ></app-form-input>
        <app-form-input [checkErros]="checkErrorPassword()" id="password" label="Senha" placeholder="Senha" errorMessage="A senha é obrigatória" controlName="password" type="password" icon="fa-solid fa-key" ></app-form-input>
        <app-form-input [checkErros]="checkErrorConfirmPassword()" id="confirmPassword" label="Confirmar" placeholder="Confirmar" errorMessage="O confirmar senha é obrigatório" controlName="confirmPassword" type="password" icon="fa-solid fa-key" ></app-form-input>

        <button class="action-btn">
            Cadastrar
        </button>
        <div *ngIf="errors">
            <div class="errors">
                <p>Algo está errado</p>
            </div>
        </div>
    </form>
    <div class="text-footer">
        Já possue conta? <a routerLink="/signin">Faça o login aqui</a>
    </div>
    </div>
</div>