@import '../../../../styles/variables.scss';

.channel-item{
    width: 100%;
    height: 80px;
    border-top: solid 1px  $grey;
    background-color: $white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover{
        filter: brightness(90%);
    }


    .channel-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 80%;
        margin-left: 10px;
        
        h1 {
            font-size: 1.1rem;
            font-weight: 400;
        }

        p{
            font-size: 0.9rem;
            color: $grey-dark;
        }
    }

    .channel-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;

        .updated-date.active{
            color: $green;
            font-weight: 600;
        }
    
        .count{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.2rem;
            min-width: 1.2rem;
            padding: 0.2rem;
            border-radius: 50%;
            background-color: $green;
            color: white;
            text-align: center;
            font-size: 0.7rem;
        }
    }
}