<div class="container">
    <div class="wrapper">
        <div class="intro-text">
            <h1>Olá novamente</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis similique ex commodi magni atque
                cupiditate vitae hic dicta aspernatur, eligendi, debitis magnam?
            </p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <app-form-input [checkErros]="checkErrorEmail()"  id="email" label="E-email" placeholder="E-mail" errorMessage="O e-mail é obrigatório" controlName="email" type="email" icon="fa-solid fa-at" ></app-form-input>
            <app-form-input [checkErros]="checkErrorPassword()" id="password" label="Senha" placeholder="Senha" errorMessage="A senha é obrigatória" controlName="password" type="password" icon="fa-solid fa-key" ></app-form-input>
            <button class="action-btn">
                Login
            </button>
            <div *ngIf="errors">
                <div class="errors">
                    <p>{{errors}}</p>
                </div>
            </div>
            <div *ngIf="loading">
                <div class="spinner">
                    <i class="fa-solid fa-circle-notch"></i>
                </div>
            </div>

        </form>
        <div class="text-footer">
            Não possue uma conta? <a routerLink="/signup">Se cadastre aqui</a>
        </div>
    </div>
</div>