@import '../../../../styles/variables.scss';

.sidebar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 50px 1fr;
    grid-template-areas: "header""search-box""channels";

    .header-container {
        grid-area: header;        
    }

    .search-box-container {
        grid-area: search-box;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .channels-container {
        grid-area: channels;
    }

    
}